@import './base.css';
body{
    font-family: var(--mainFont);
    background-color: #eee;
}
.header{
    padding: 20px 0px;
    background-color: #fff;
}
.header .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
}
.header .logo img{
    width: 35px;
}
.header .logo a{
    color: var(--mainColor);
}
.menue{
    display: none;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.navbar ul li a{
    color: #101928;
}
.navbar ul li .active{
    font-weight: 800;
}
.athentications{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.athentications a{
    border-radius : 10px;
    padding: 5.3px 30.1px;
    font-weight: 700;
    font-family: var(--subFont)
}
.athentications .login{
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
}
.athentications .register{
    border: 2px solid var(--mainColor);
    background-color: var(--mainColor);
    color: white;
}

/* header media */
@media screen and (max-width:992px){
    .navbar,
    .athentications {
        display: none;
    }
    .menue{
        display: block;
        order: 2;
    }
}
@media screen and (max-width:576px){
    .container{
        width: calc(100% - 50px );
        margin: auto;
    }
    .header .logo img{
        width: 20px;
    }
    .header .logo a{
        font-size: 14px;
    }
}
/* end of header media*/

.footer{
    background-color: #393E46;
    color: #fff;
    padding: 50px 0px;
}
.footer a{
    color: #fff;
}
.footer-start{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
}
.footer-start .logo img{
    width: 35px;
}
.footer-start .icons img{
    border: 1px solid #fff;
    padding: 10px;
    width: 20px;
    height: 20px;
}

.footer-end{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
}
.footer-end .footer-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.footer-end nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

/* start of footer media */
@media screen and (max-width:1200px){
    .footer-start{
        width: 100%;
    }
    .footer .row{
        gap: 10px;
    }
}
@media screen and (max-width:769px){
    .footer-items {
        width: 50%;
        margin-bottom: 21px;
    }

}
@media screen and (max-width:400px){
    .footer-items{
        width: 100%;
        margin-bottom: 21px;
    }
}
/* end of footer media */